#body {
  max-width: 1500px;
  margin: 0 auto;
}

.pad {
  padding: 24px
}

.nav-width {
  width: 450px;
}

.footer-width {
  width: 200px
}

.section-1-width {
  width: 400px
}

.leverage-width {
  width: 510px;
}

.article-images {
  width: 250px;
  height: 180px
}

.flex {
  display: flex;
}

.f-sb {
  justify-content: space-between;
}

.f-se {
  justify-content: space-evenly;
}

.f-fe {
  justify-content: flex-end;
}

.f-fs {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.logo-foot-width {
  width: 90px;
}

.mu-bkg {
  background-image: url(/easybank-landing-page-master/images/bg-intro-desktop.svg);
}
