body {
  width: 100vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.f-sb {
  justify-content: space-between;
}

.f-se {
  justify-content: space-evenly;
}

.f-fe {
  justify-content: flex-end;
}

.f-fs {
  justify-content: flex-start;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hidden-in-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hidden-in-mobile {
    display: none;
  }
}
