#body {
  max-width: 1400px;
  margin: 0 auto;
}

.nav-width {
  width: 450px;
}

.footer-width {
  width: 200px
}

.section-1-width {
  width: 400px
}

.article-images {
  width: 270px;
  height: 180px
}

.flex {
  display: flex;
}

.f-sb {
  justify-content: space-between;
}

.f-se {
  justify-content: space-evenly;
}

.f-fe {
  justify-content: flex-end;
}

.f-fs {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
