.lime {
  background-color: hsl(136, 65%, 51%);
}

.light-white {
  background-color: (0, 0%, 98%)
}

.light-grey {
  background-color: hsl(220, 16%, 96%)
}

.white-bkg {
  background-color: hsl(0, 0%, 100%);
}

.text {
  font-family: 'Public Sans', sans-serif;
}

.size {
  font-size: 1.5rem;
}

.size-m {
  font-size: 2rem;
}

.size-l {
  font-size: 2.5rem;
}

.text-white {
  font-family: 'Public Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

.text-grey {
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem
}

.dark-blue {
  background-color: hsl(233, 26%, 24%);
}

.logo-foot-width {
  width: 90px;
}
