body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  margin: 0 auto;
}

.noscroll {
  overflow: hidden;
}

a:hover {
  color:hsl(136, 65%, 51%);
  transition: ease-in-out 250ms;
}

/* Menu for Desktop */
header {
  z-index: 1;
  position: relative;
}

.nav-logo {
  width: 8.675rem;
  height: 1.25rem;
}

.header-pad {
  padding: 1em 1.5em;
}

.header-nav {
  padding-top: 0.5em;
}

.header-nav a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}

.header-nav a:not(:last-child){
  margin-right: 1.5em;
}

.m-sel {
  text-decoration: none;
}

.sel:hover {
  text-decoration: underline;
  text-decoration-color: hsl(136, 65%, 51%);
  text-decoration-thickness: 0.2em;
  text-underline-offset: 1.5em;
  cursor: pointer;
}

/* Menu for Mobile*/
.header-menu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}

.header-menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 2;
}

#section-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 3.75rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
}

.seen{
  visibility: visible;
  opacity: 1
}

.unseen {
  visibility: hidden;
  opacity: 0;
}

.mu-bkg {
  position: relative;
  background-image: url(/easybank-landing-page-master/images/bg-intro-mobile.svg);
  min-height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mu-bkg::before {
  content: "";
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(/easybank-landing-page-master/images/image-mockups.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom ;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 80%;
  transform: translate(40%, -40%);
}

.s2-1 {
  position: block;
  padding-bottom: 20px;
  width: 45vw;
}

.lime {
  background-color: hsl(136, 65%, 51%);
}

.light-white {
  background-color: (0, 0%, 98%)
}

.grey-blue {
  background-color: hsl(220, 16%, 96%)
}

.light-grey {
  background-color: hsl(0, 0%, 98%);
}

.white-bkg {
  background-color: hsl(0, 0%, 100%);
}

.size {
  font-size: 1.5rem;
}

.size-m {
  font-size: 2rem;
  font-weight: 400;
}

.size-l {
  font-size: 2.5rem;
  font-weight: 400;
}

.text-white {
  font-family: 'Public Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

.text-grey {
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 8%, 62%);
  font-size: 0.9rem;
  font-weight: 300;
}

.dark-blue {
  background-color: hsl(233, 26%, 24%);
}

.but {
  border-radius: 18px;
  width: 135px;
  height: 36px;
  background: linear-gradient( to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  font-weight: 400;
  color: white;
  cursor: pointer
}

.margin-nav {
  margin-top: 0.5em
}

.padding-nav {
  padding-top:0.5em;
}
